/*
********************************
* Override some Actuate style
*********************************
*/
.actuate-dashboard-tab-strip-top .actuate-tab-strip-over .actuate-tab-right {
  	background-color: #007BB7 !important;
}
/* Dashboard panel */
.actuate-widget-border-panel {
  	background-color: #1d1d1d !important;
}
.actuate-dashboard-ux-tab-inline-toolbar-area {
  	background: #1d1d1d !important;
}
.actuate-tab-panel ul, .actuate-tab-panel ol {
  	background-color: #1d1d1d !important;
}
.actuate-widget-border-layout-ct {
  background: #1d1d1d !important;
}
.actuate-dashboard-tab-panel {
  	border: none !important;
}
.actuate-dashboard-gadget-tab-content {
  	border-top: none !important
}
ul.actuate-dashboard-tab-strip li {
  	border-right: none !important;
}
.actuate-tab-strip-active span.actuate-tab-strip-text {
  	color: blue !important;
}
.actuate-dashboard-tab-strip span.actuate-tab-strip-text {
  	color: #fff; 
}
.actuate-dashboard-non-editable {
	color: #fff !important;
}
/* Gadget panel */
.actuate-dashboard-gadget-item {
  border: none !important;
}  
.actuate-dashboard-gadget-item, .actuate-dashboard-gadget-item-noborder {
  	background-color: blue !important;
}
.actuate-widget-panel-mc {
	background: transparent ;
}
.actuate-widget-panel-body {
	background: transparent ;
}
.actuate-selector-panel{
  	background: blue ;
}  
.actuate-dashboard-gadget-item > .actuate-widget-panel-tl > .actuate-widget-panel-tr > .actuate-widget-panel-tc > .actuate-widget-panel-header {
  	background: blue !important;
}
.actuate-dashboard-gadget-item > .actuate-widget-panel-bwrap > .actuate-widget-panel-ml {
 	background: blue !important;
}
.actuate-dashboard-gadget-item > .actuate-widget-panel-bwrap > .actuate-widget-panel-ml > .actuate-widget-panel-mr > .actuate-widget-panel-mc {
 	background: blue !important;
}
.actuate-dashboard-gadget-item > .actuate-widget-panel-tl > .actuate-widget-panel-tr > .actuate-widget-panel-tc > .actuate-widget-panel-header > .actuate-widget-panel-header-text {
	color : #fff !important;
}
.actuate-selector-panel-header, .actuate-selector-radio-panel .actuate-form-cb-label {
	color : #fff !important;
}
.actuate-selector-list-border {
  background-color: blue !important;
}
.actuate-selector-panel .actuate-selector-list .actuate-list-selected {
  	color: blue;
}
.actuate-list-item {
  	color: #fff;
}
.actuate-unselectable, .actuate-unselectable * {
	color: #fff;
}
.actuate-dashboard-view-outerwrapper > .actuate-widget-panel-bwrap > .actuate-widget-panel-ml > .actuate-widget-panel-mr > .actuate-widget-panel-mc {
	background-color: #1d1d1d !important;
}